@font-face {
    font-family: "bebas";
    src: url(BebasNeue-Regular.ttf);
}
@font-face {
    font-family: "bebasLight";
    src: url(BebasNeue\ Light.otf);
}
:root{
    --mainColor:    hsl(0, 100%, 20%);
    --secColor:     hsl(0, 100%, 15%);
    --bgColorHover: rgb(8, 8, 7);
    --bgColor1:     rgb(13, 13, 12);
    --bgColor2:     rgb(18, 18, 17);
}
*{
    padding: 0;
    border: none;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}
.wrapper{
    position: relative;
    overflow: hidden;
}
header{
    width: 100vw;
    height: 50px;
    background-color: var(--bgColor1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'bebas';
    font-size: 20px;
    text-shadow: 2px 2px 3px black;
    position: fixed;
    z-index: 3;
}
main{
    margin-top: 50px;
}
#logoImage{
    height: 30px;
    padding: 0 10px;
}
#navList{
    color: white;
    display: flex;
    align-items: center;
    width: 600px;
    height: 50px;
}
#navList p{
    transition: all 0.3s linear;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#navList p:hover{
    background: var(--mainColor);
    letter-spacing: 2px;
}

#secondRow, #firstRow{
    width: 100vw;
    height: 300px;
    display: flex;
    justify-content: flex-start;
    font-family: "bebas";
    background-color: var(--bgColor2);
}
#firstRow{
    height: 350px;
}
.firstText{
    color: white;
    font-size: 150px;
    line-height: 1.25ex;
    margin-bottom: calc(-.16ex);
    font-weight: bold;
    letter-spacing: 5px;
    margin-left: 0.2em;
    position: relative;
    bottom: 0;
    left: 0;
}
.firstText::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 87%;
    width: 100%;
    background-color: var(--bgColor2);
    border-left: 4px solid var(--mainColor);
    animation: typing 3s steps(13) infinite;
}
@keyframes typing {
    40%{
        left: calc(100% + 5px);
        border-left: 4px solid var(--mainColor);
    }
    50%{
        border-left: 4px solid var(--bgColor2);
    }
    60%{
        left: calc(100% + 5px);
        border-left: 4px solid var(--mainColor);
    }
    0%,100%{
        left: 30%;
    }
}
.frDiv{
    align-self: flex-end;   
    display: flex;
    align-items: flex-end;
}
#secondRowLeft{
    z-index: 1;
    width: 75vw;
    min-width: 850px;
    height: 100%;
    background-color: var(--bgColor1);
    box-shadow: 1px 1px 5px black;
    border-bottom-right-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.3s linear;
}
#secondRowLeft:hover{
    box-shadow: 2px 2px 6px black;
}
.contactBtn{
    height: 100px;
    width: 250px;
    font-family: "bebas";
    font-size: 30px;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    text-shadow: 3px 3px 5px black;
    background: var(--bgColor1);
    border: 3px solid var(--mainColor);
    box-shadow: 2px 2px 4px black;
    transition: all 0.3s linear;
}
.contactBtn:hover{
    background: var(--mainColor);
    letter-spacing: 3px;
}
#secondRowRight{
    width: 25vw;
    height: 100%;
    background-color: var(--bgColor2);
}
#name{
    bottom: 300px;
    right: 350px;
}
#thirdRow , #fourthRow{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    flex-direction: column;
    background-color: var(--bgColor2);
    color: white;
    font-family: 'bebas';
}
#thirdRow h1, #fourthRow h1{
    padding: 60px 30px 40px 30px;
    text-shadow: 2px 2px 3px black;
    letter-spacing: 2px;
}
#content{
    display: flex;
    height: 100%;
    width: 100vw;
    justify-content: space-evenly;
    margin-bottom: 50px;
}
.projects{
    height:300px;
    width: 500px;
    background-color: var(--bgColor1);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    transition: all 0.2s linear;
    box-shadow: 2px 2px 5px black;
    border-radius: 3px;
}
.projects:hover{
    background-color: var(--bgColorHover);
    transform: scale(0.95, 0.95);
}
.projectsPic{
    height: 287px;
    width: 300px;
    transition: all 0.2s linear;
}
.projects:hover .projectsPic{
    transform: scale(1.1, 1.1);
}
#fourthRow{
    padding-bottom: 2em;
}
#fourthRow p{
    background-color: var(--bgColor1);
    height: auto;
    min-height: 200px;
    width: 50vw;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 2px 2px 5px black;
    font-size: 1.5em;
    text-shadow: 2px 2px 3px black;
    text-align: justify;
    font-family: 'bebasLight';
}
@media only screen and (max-width: 1600px){
    #firstRow p{
        font-size: 130px;
    }
    #content{
        align-items: center;
        flex-direction: column;
        gap: 50px;
    }
    .projects{
        width: 700px;
        height: 400px;
    }
    .projectsPic{
        height: 430px;
        width: 450px;
    }
    #fourthRow p{
        width: 700px;
    }
}
@media only screen and (max-width:1400px){
    #firstRow p{
        font-size: 110px;
    }
}
@media only screen and (max-width:1200px){
    #firstRow p{
        font-size: 100px;
    }
}
@media only screen and (max-width:900px){
    .firstText::after{
        content: '';
        position: absolute;
        left: 0;
        top: auto;
        bottom: 0;
        height: 35%;
    }
    @keyframes typing {
        0%{
            left: 85%;
            border-left: 4px solid var(--bgColor2);
        }
        25%{
            border-left: 4px solid var(--mainColor);
        }
        50%{
            border-left: 4px solid var(--bgColor2);
        }
        75%{
            border-left: 4px solid var(--mainColor);
        }
        100%{
            left: 85%;
            border-left: 4px solid var(--bgColor2);
        }
    }

    #firstRow p{
        font-size: 130px;
        margin-left: 0.4em;
        width: 400px;
    }
    .projects{
        height:300px;
        width: 500px;
    }
    .projectsPic{
        height: 287px;
        width: 300px;
    }
    #secondRowLeft{
        width: 75vw;
        min-width: 600px;
        justify-content: space-evenly;
    }
    .contactBtn{
        height: 80px;
        width: 200px;
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 2px;
        
    }
    #fourthRow p{
        width: 500px;
    }
}
    @media only screen and (max-width:650px){
        #firstRow p{
            font-size: 130px;
            width: 400px;
        }
        #content{
            flex-direction: row;
            width: 100%;
            padding-bottom: 10px;
            overflow-x: scroll;
            scroll-snap-type: inline mandatory;
            justify-content: flex-start;
            gap: 0;
        }
        #content > * {
            scroll-snap-align: center;
        }
        .projects{
            margin: 0 20px;
        }
        .projectsPic{
            height: 287px;
            width: 300px;
        }
        #secondRowLeft{
            width: 80vw;
            min-width: 300px;
            flex-direction: column;
        }
        #secondRowRight{
            width: 20vw;
        }
        .contactBtn{
            height: 80px;
            width: 200px;
            font-size: 30px;
            font-weight: bold;
            letter-spacing: 2px;
            
        }
        #fourthRow p{
            width: 450px;
        }
}
    @media only screen and (max-width: 550px){
        #firstRow p{
            font-size: 100px;
            margin-left: 0.3em;
        }
        @keyframes typing {
            0%{
                left: 68%;
                border-left: 4px solid var(--bgColor2);
            }
            25%{
                border-left: 4px solid var(--mainColor);
            }
            50%{
                border-left: 4px solid var(--bgColor2);
            }
            75%{
                border-left: 4px solid var(--mainColor);
            }
            100%{
                left: 68%;
                border-left: 4px solid var(--bgColor2);
            }
        }
    }

::-webkit-scrollbar {
    width: 1em;
}
::-webkit-scrollbar-track {
    background-color: var(--bgColor2);
    margin-inline: 1em;
}
::-webkit-scrollbar-thumb{
    background-color: var(--bgColor1);
    border-radius: 100vw;
    border: .2em solid var(--bgColor2);
    opacity: 0.5;
}
::-webkit-scrollbar-thumb:hover{
    opacity: 1;
}
